@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  color: #1d3557; }

ul {
  font-family: "Titillium Web", sans-serif;
  list-style-type: none;
  background-color: #144AD3;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px; }

li {
  float: left; }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  li a:hover {
    background-color: #1d3557;
    transform: scale(1.1); }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #07205F;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px; }

footer h3 {
  font-family: "Titillium Web", sans-serif;
  color: white;
  margin: 0;
  font-size: 100%;
  text-align: center; }

/*  ----------INICIO-----------  */
#pagina_inicio_contenedor {
  width: 100%;
  height: 800px;
  background-color: #0D152B;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

#pagina_inicio_contenedor_titulo {
  width: 90%;
  max-width: 630px;
  margin: 45px auto 18px;
  height: auto;
  background-color: #161A6C;
  color: white;
  padding: 27px;
  border-radius: 25px;
  font-size: 24px; }

#pagina_inicio_contenedor_contenido {
  width: 90%;
  max-width: 800px;
  margin: 18px auto 70px;
  height: auto;
  background-color: #161A6C;
  color: white;
  padding: 110px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 22px; }
  #pagina_inicio_contenedor_contenido img {
    width: 400%;
    border-radius: 50%; }
  #pagina_inicio_contenedor_contenido p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px; }

#pagina_inicio p {
  text-align: center;
  background-color: #07205F;
  color: white;
  padding: 0;
  border-radius: 0; }

#Body_De_Inicio {
  background-color: #0D152B; }

/*------------------------HABILIDADES--------------------------------------*/
#pagina_habilidades {
  padding: 50px; }
  #pagina_habilidades_titulo {
    margin: 20px;
    width: 97%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #161A6C;
    color: white;
    padding: 0;
    border-radius: 25px;
    text-align: center; }
  #pagina_habilidades #pagina_cuadro {
    margin-top: 80px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: #2C3088;
    color: inherit;
    padding: 20px;
    border-radius: 25px;
    margin: 0 auto; }

.grupo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; }
  .grupo img {
    width: 100px; }
  .grupo a {
    color: white;
    text-align: center;
    display: grid;
    margin-top: 10px;
    text-align: center; }

#pagina_habilidades_contenido.curso {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  width: 80%;
  height: auto;
  margin: 10px auto;
  text-align: center; }

#Body_De_habilidades {
  background-color: #0D152B; }

/* -----------formacion-------------- */
#Body_De_Formacion {
  background-color: #0D152B; }

#pagina_formacion_contenedor_titulo {
  font-size: 24px;
  color: white;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 30px; }

#pagina_formacion_contenedor_estudios {
  width: 80%;
  margin: 0 auto;
  background-color: #0D152B;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px; }

.curso {
  background-color: #161A6C;
  color: white;
  padding: 20px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  width: 600px;
  height: auto;
  margin: 20px auto;
  font-size: 20px;
  text-align: left; }
  .curso img {
    margin-bottom: 20px;
    max-width: 100%; }

#upn, #udemy {
  background-color: #161A6C;
  color: white;
  padding: 20px;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 80px;
  width: 80%;
  max-width: 600px;
  align-self: center; }

/* --------------Pagina Experiencia----------- */
#Body_De_Experiencia {
  background-color: #0D152B;
  color: white;
  padding: 0;
  border-radius: 0; }

#pagina_experiencia_titulo {
  background-color: #0D152B;
  color: white;
  padding: 10px 0 0 0;
  border-radius: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold; }

#pagina_experiencia_contenedor {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  justify-content: center;
  align-items: center; }
  #pagina_experiencia_contenedor > div {
    background-color: #2C3088;
    color: white;
    padding: 20px;
    border-radius: 25px;
    text-align: center; }

#pagina_experiencia_contenedor h2,
#pagina_experiencia_contenedor p,
#cuadro p,
#cuadro-interior-mas-chico p,
#cuadro-interior-mas-chico h2 {
  color: white;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  margin: 0; }

#cuadro img {
  width: 150px;
  margin: 0;
  border: 5px solid #2C3088; }

#cuadro-interior {
  background-color: #2C3088;
  color: inherit;
  padding: 100px;
  border-radius: 0; }

#cuadro-interior-mas-chico {
  background-color: #221667;
  color: inherit;
  padding: 20px;
  border-radius: 20px; }

/*  -------CONTACTO--------- */
#Body_De_contacto {
  background-color: #0D152B;
  color: white;
  padding: 0;
  border-radius: 0; }

#pagina_contacto_titulo_parrafo,
#pagina_contacto_titulo {
  font-size: 24px;
  text-align: center;
  color: white; }

#pagina_contacto_titulo {
  background-color: #0D152B;
  color: white;
  padding: 10px 0 0 0;
  border-radius: 0;
  width: 100%;
  height: 60px; }

#pagina_contenedor_contacto {
  width: 80%;
  background-color: #464C63;
  color: inherit;
  padding: 0;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto; }

#formularioContacto {
  width: 80%;
  margin: 40px auto; }
  #formularioContacto div {
    margin-bottom: 30px; }
  #formularioContacto label {
    display: block;
    margin-bottom: 10px; }
  #formularioContacto input[type="email"],
  #formularioContacto textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px; }
  #formularioContacto input[type="submit"] {
    background-color: #0D152B;
    color: white;
    padding: 10px 20px;
    border-radius: 0;
    cursor: pointer; }

@media screen and (max-width: 320px) {
  nav ul {
    flex-direction: column;
    align-items: center; }
    nav ul li a {
      font-size: calc(20px * 0.7);
      padding: 8px 12px; }
  #pagina_inicio_contenedor_contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .pagina_formacion_contenedor_estudios {
    width: 100%; }
  .curso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    width: 50%;
    height: auto;
    margin: 10px auto;
    text-align: center; }
  ul {
    flex-direction: column; }
  #pagina_inicio {
    width: 100%; }
  #pagina_inicio_contenedor {
    width: 100%;
    height: auto;
    background-color: #0D152B;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #pagina_inicio_contenedor_titulo {
      width: 80%;
      margin: 50px auto 20px;
      height: auto;
      background-color: #161A6C;
      color: white;
      font-size: 22px;
      padding: 20px;
      border-radius: 25px; }
    #pagina_inicio_contenedor_contenido {
      width: 90%;
      height: 650px;
      background-color: #161A6C;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      font-size: 22px;
      border-radius: 25px; }
      #pagina_inicio_contenedor_contenido img {
        width: 90%; }
      #pagina_inicio_contenedor_contenido p {
        width: 80%; }
  footer {
    width: 100%; }
    footer h3 {
      font-size: 15px; }
  #pagina_cuadro {
    width: 100%;
    display: grid;
    gap: 10px;
    padding: 10px;
    border-radius: 25px; }
  .grupo img {
    width: 40px; }
  #pagina_habilidades {
    padding: 30px; }
    #pagina_habilidades_titulo {
      margin: 30px auto;
      width: 70%;
      height: 60px;
      justify-content: center;
      align-items: center;
      background-color: #161A6C;
      color: white;
      text-align: center;
      border-radius: 25px;
      font-size: 18px; }
    #pagina_habilidades #pagina_cuadro {
      margin-top: 30px;
      width: 90%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      background-color: #2C3088;
      padding: 15px;
      justify-content: center;
      border-radius: 25px; }
  .grupo {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .grupo img {
      width: 40px; }
    .grupo a {
      font-size: 14px;
      text-align: center;
      display: block; }
  /*******************************experiencia****************************************/
  #pagina_experiencia_contenedor {
    width: 90%;
    grid-template-columns: 1fr; }
  #pagina_experiencia_contenedor > div {
    padding: 10px; }
  #cuadro img {
    width: 100px; }
  #cuadro-interior {
    padding: 20px; }
  #cuadro-interior-mas-chico {
    padding: 10px; }
  #pagina_contacto_titulo {
    font-size: 20px;
    height: 40px;
    padding-top: 5px; }
  #pagina_contenedor_contacto {
    width: 95%;
    margin: 20px auto;
    padding: 10px; }
  #formularioContacto {
    width: 100%;
    margin: 20px auto; }
  #formularioContacto div {
    margin-bottom: 15px; }
  #formularioContacto label {
    font-size: 14px; }
  #formularioContacto input[type="email"],
  #formularioContacto textarea {
    font-size: 14px;
    padding: 5px; }
  #formularioContacto input[type="submit"] {
    font-size: 14px;
    padding: 5px 10px; }
  footer {
    width: 100%; }
  footer h3 {
    font-size: 13px; } }

@media screen and (min-width: 321px) and (max-width: 576px) {
  .pagina_formacion_contenedor_estudios {
    width: 100%; }
  nav ul {
    flex-direction: column;
    align-items: center; }
    nav ul li a {
      font-size: calc(20px * 0.7);
      padding: 8px 12px; }
  .curso {
    width: 50%;
    margin: 50px auto 20px;
    height: auto;
    font-size: 22px;
    padding: 20px;
    border-radius: 25px;
    text-align: center; }
  ul {
    flex-direction: column; }
  #pagina_inicio {
    width: 100%; }
  #pagina_inicio_contenedor {
    width: 100%;
    height: auto;
    background-color: #0D152B;
    display: flex;
    flex-direction: column;
    align-items: center; }
  #pagina_inicio_contenedor_titulo {
    width: 80%;
    margin: 50px auto 20px;
    height: auto;
    background-color: #161A6C;
    color: white;
    font-size: 22px;
    padding: 20px;
    border-radius: 25px; }
  #pagina_inicio_contenedor_contenido {
    width: 90%;
    height: 650px;
    background-color: #161A6C;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    font-size: 18px;
    border-radius: 25px; }
  #pagina_inicio_contenedor_contenido img {
    width: 90%; }
  #pagina_inicio_contenedor_contenido p {
    width: 90%; }
  footer {
    width: 100%; }
  footer h3 {
    font-size: 15px; }
  #pagina_cuadro {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 50%; }
  .grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .grupo img {
    width: 80px; }
  .grupo a {
    text-align: center; }
  /******************habilidades**********************/
  #pagina_habilidades {
    padding: 30px; }
    #pagina_habilidades_titulo {
      margin: 30px auto;
      margin-top: 10px;
      width: 70%;
      height: 60px;
      justify-content: center;
      align-items: center;
      background-color: #161A6C;
      color: white;
      text-align: center;
      border-radius: 25px;
      font-size: 18px; }
    #pagina_habilidades #pagina_cuadro {
      margin-top: 10px;
      width: 90%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      background-color: #2C3088;
      padding: 2px;
      justify-content: center;
      border-radius: 25px; }
  .grupo {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .grupo img {
      width: 80%; }
    .grupo a {
      font-size: 14px;
      text-align: center;
      display: block; }
  /*******************************experiencia****************************************/
  #pagina_experiencia_contenedor {
    width: 90%;
    grid-template-columns: 1fr; }
  #pagina_experiencia_contenedor > div {
    padding: 10px; }
  #cuadro img {
    width: 100px; }
  #cuadro-interior {
    padding: 20px; }
  #cuadro-interior-mas-chico {
    padding: 10px; }
  #pagina_contacto_titulo {
    font-size: 20px;
    height: 40px;
    padding-top: 5px; }
  #pagina_contenedor_contacto {
    width: 95%;
    margin: 20px auto;
    padding: 10px; }
  #formularioContacto {
    width: 100%;
    margin: 20px auto; }
  #formularioContacto div {
    margin-bottom: 15px; }
  #formularioContacto label {
    font-size: 14px; }
  #formularioContacto input[type="email"],
  #formularioContacto textarea {
    font-size: 14px;
    padding: 5px; }
  #formularioContacto input[type="submit"] {
    font-size: 14px;
    padding: 5px 10px; } }

@media screen and (min-width: 577px) and (max-width: 768px) {
  .pagina_formacion_contenedor_estudios {
    width: 100%; }
  nav ul {
    flex-direction: column;
    align-items: center; }
    nav ul li a {
      font-size: calc(20px * 0.7);
      padding: 8px 12px; }
  .curso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    width: 80%;
    height: auto;
    margin: 10px auto;
    text-align: center; }
  ul {
    flex-direction: column; }
  #pagina_inicio {
    width: 100%; }
  #pagina_inicio_contenedor {
    width: 100%;
    height: auto;
    background-color: #0D152B;
    display: flex;
    flex-direction: column;
    align-items: center; }
  #pagina_inicio_contenedor_titulo {
    width: 80%;
    margin: 50px auto 20px;
    height: auto;
    background-color: #161A6C;
    color: white;
    font-size: 22px;
    padding: 20px;
    border-radius: 25px; }
  #pagina_inicio_contenedor_contenido {
    width: 70%;
    height: 750px;
    background-color: #161A6C;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    font-size: 22px;
    border-radius: 25px; }
  #pagina_inicio_contenedor_contenido img {
    width: 90%; }
  #pagina_inicio_contenedor_contenido p {
    width: 80%;
    margin-bottom: 90px;
    /* Ajusta este valor según sea necesario */ }
  footer {
    width: 100%; }
  footer h3 {
    font-size: 15px; }
  #pagina_cuadro {
    grid-template-columns: repeat(3, 1fr); }
  .grupo img {
    width: 100px; }
  #pagina_habilidades {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #pagina_habilidades._titulo {
    width: 80%;
    margin: 50px auto 20px;
    height: auto;
    background-color: #161A6C;
    color: white;
    font-size: 22px;
    padding: 20px;
    border-radius: 25px; }
  #pagina_habilidades._contenido {
    width: 90%;
    height: 750px;
    background-color: #161A6C;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    font-size: 22px;
    border-radius: 25px; }
  #pagina_habilidades._contenido.curso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    width: 80%;
    height: auto;
    margin: 10px auto;
    text-align: center; }
  .grupo {
    flex-direction: column; }
  .grupo img {
    width: 80%; }
  .grupo a {
    display: block;
    margin-top: 10px;
    text-align: center; }
  /*******************************experiencia****************************************/
  #pagina_experiencia_contenedor {
    width: 90%;
    grid-template-columns: 1fr; }
  #pagina_experiencia_contenedor > div {
    padding: 10px; }
  #cuadro-interior {
    padding: 50px; }
  #cuadro-interior-mas-chico {
    padding: 40px; }
  #pagina_contenedor_contacto {
    width: 90%;
    margin: 20px auto; }
  #formularioContacto {
    width: 100%; }
  #pagina_contacto_titulo {
    font-size: 20px;
    height: 40px;
    padding-top: 5px; }
  #pagina_contenedor_contacto {
    width: 95%;
    margin: 20px auto;
    padding: 10px; }
  #formularioContacto {
    width: 100%;
    margin: 20px auto; }
  #formularioContacto div {
    margin-bottom: 15px; }
  #formularioContacto label {
    font-size: 14px; }
  #formularioContacto input[type="email"],
  #formularioContacto textarea {
    font-size: 14px;
    padding: 5px; }
  #formularioContacto input[type="submit"] {
    font-size: 14px;
    padding: 5px 10px; } }
