$base-color: #1d3557;
$secondary-color: #144AD3;
$text-color: white;
$font-family: "Titillium Web", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

h1 {
  color: $base-color;
}

ul {
  font-family: $font-family;
  list-style-type: none;
  background-color: $secondary-color;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
}

li {
  float: left; 
}

li a {
  display: block;
  color: $text-color;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  transition: all 0.3s ease-in-out; 

  &:hover {
    background-color: $base-color;
    transform: scale(1.1); 
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #07205F;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

footer h3 {
  font-family: $font-family;
  color: $text-color;
  margin: 0;
  font-size: 100%; /* Tamaño de fuente más pequeño */
  text-align: center; /* Texto centrado horizontalmente */
}

/*  ----------INICIO-----------  */
$primary-color: #0D152B;
$secondary-color: #161A6C;
$text-color: white;

// Definición de mixins
@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin bordered-box($bg-color, $color, $padding, $border-radius) {
  background-color: $bg-color;
  color: $color;
  padding: $padding;
  border-radius: $border-radius;
}

// Uso de mixins
#pagina_inicio_contenedor {
  width: 100%;
  height: 800px;
  background-color: $primary-color;
  @include flexbox(column, space-around, center);
}

#pagina_inicio_contenedor_titulo {
  width: 90%;
  max-width: 630px;
  margin: 45px auto 18px;
  height: auto;
  @include bordered-box($secondary-color, $text-color, 27px, 25px);
  font-size: 24px;
}

#pagina_inicio_contenedor_contenido {
  width: 90%;
  max-width: 800px;
  margin: 18px auto 70px;
  height: auto;
  @include bordered-box($secondary-color, $text-color, 110px, 25px);
  @include flexbox(row, space-between, center);
  font-size: 22px;

  img {
    width: 400%;
    border-radius: 50%;
  }

  p {
    @include flexbox(row, center, center);
    font-size: 22px;
  }
}

#pagina_inicio p {
  text-align: center;
  @include bordered-box(#07205F, $text-color, 0, 0);
}

#Body_De_Inicio {
  background-color: $primary-color;
}
/*------------------------HABILIDADES--------------------------------------*/
// Definición de mixins
@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin bordered-box($bg-color, $color, $padding, $border-radius) {
  background-color: $bg-color;
  color: $color;
  padding: $padding;
  border-radius: $border-radius;
}

// Variables
$background-color-dark: #0D152B;
$background-color-medium: #161A6C;
$background-color-light: #2C3088;
$text-color: white;
$border-radius-general: 25px;

#pagina_habilidades {
  padding: 50px;

  &_titulo {
    margin: 20px;
    width: 97%;
    height: 50px;
    @include flexbox(row, center, center);
    @include bordered-box($background-color-medium, $text-color, 0, $border-radius-general);
    text-align: center;
  }

  #pagina_cuadro {
    margin-top: 80px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    @include bordered-box($background-color-light, inherit, 20px, $border-radius-general);
    margin: 0 auto;
  }
}

.grupo {
  @include flexbox(column, center, center);
  gap: 10px;

  img {
    width: 100px;
  }

  a {
    color: $text-color;
    text-align: center;
    display: grid;
    margin-top: 10px;
    text-align: center;
  }
}

#pagina_habilidades {
  &_contenido {
    &.curso {
      @include flexbox(row, center, center);
      max-width: 80%;
      width: 80%;
      height: auto;
      margin: 10px auto;
      text-align: center;
    }
  }
}

#Body_De_habilidades {
  background-color: $background-color-dark;
}
/* -----------formacion-------------- */
// Definición de mixins
@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin bordered-box($bg-color, $color, $padding, $border-radius) {
  background-color: $bg-color;
  color: $color;
  padding: $padding;
  border-radius: $border-radius;
}

// Variables
$course-bg-color: #161A6C;
$course-text-color: white;
$base-bg-color: #0D152B;
$experience-bg-color: #0D152B;
$text-color: white;

#Body_De_Formacion {
  background-color: $base-bg-color;
}

#pagina_formacion_contenedor_titulo {
  font-size: 24px;
  color: white;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 30px;
}

#pagina_formacion_contenedor_estudios {
  width: 80%;
  margin: 0 auto;
  background-color: $base-bg-color;
  @include flexbox(column, flex-start, center);
  gap: 20px;
}

.curso {
  @include bordered-box($course-bg-color, $course-text-color, 20px, 40px);
  @include flexbox(column, center, center);
  max-width: 80%;
  width: 600px;
  height: auto;
  margin: 20px auto;
  font-size: 20px;
  text-align: left;

  img {
    margin-bottom: 20px;
    max-width: 100%;
  }
}

#upn, #udemy {
  @include bordered-box($course-bg-color, white, 20px, 40px);
  text-align: center;
  margin-bottom: 80px;
  width: 80%;
  max-width: 600px;
  align-self: center;
}

/* --------------Pagina Experiencia----------- */

// Definición de mixins
@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin bordered-box($bg-color, $color, $padding, $border-radius) {
  background-color: $bg-color;
  color: $color;
  padding: $padding;
  border-radius: $border-radius;
}

// Variables
$experience-bg-color: #0D152B;
$text-color: white;

#Body_De_Experiencia {
  @include bordered-box($experience-bg-color, $text-color, 0, 0);
}

#pagina_experiencia_titulo {
  @include bordered-box($experience-bg-color, $text-color, 10px 0 0 0, 0);
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
}

#pagina_experiencia_contenedor {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  justify-content: center;
  align-items: center;

  > div {
    @include bordered-box(#2C3088, $text-color, 20px, 25px);
    text-align: center;
  }
}

#pagina_experiencia_contenedor h2,
#pagina_experiencia_contenedor p,
#cuadro p,
#cuadro-interior-mas-chico p,
#cuadro-interior-mas-chico h2 {
  color: $text-color;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  margin: 0;
}

#cuadro img {
  width: 150px;
  margin: 0;
  border: 5px solid #2C3088;
}

#cuadro-interior {
  @include bordered-box(#2C3088, inherit, 100px, 0);
}

#cuadro-interior-mas-chico {
  @include bordered-box(#221667, inherit, 20px, 20px);
}
/*  -------CONTACTO--------- */
// Definición de mixins
@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin bordered-box($bg-color, $color, $padding, $border-radius) {
  background-color: $bg-color;
  color: $color;
  padding: $padding;
  border-radius: $border-radius;
}

// Variables
$primary-color: #0D152B;
$secondary-color: #464C63;
$text-color: white;

#Body_De_contacto {
  @include bordered-box($primary-color, $text-color, 0, 0);
}

#pagina_contacto_titulo_parrafo,
#pagina_contacto_titulo {
  font-size: 24px;
  text-align: center;
  color: $text-color;
}

#pagina_contacto_titulo {
  @include bordered-box($primary-color, $text-color, 10px 0 0 0, 0);
  width: 100%;
  height: 60px;
}

#pagina_contenedor_contacto {
  width: 80%;
  @include bordered-box($secondary-color, inherit, 0, 25px);
  @include flexbox(column, center, center);
  margin: 40px auto;
}

#formularioContacto {
  width: 80%;
  margin: 40px auto;

  div {
    margin-bottom: 30px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
  }

  input[type="submit"] {
    @include bordered-box($primary-color, $text-color, 10px 20px, 0);
    cursor: pointer;
  }
}
@media screen and (max-width: 320px) {
  nav {
    ul {
        flex-direction: column;
        align-items: center;

        li {
            a {
                font-size: calc(20px * 0.7); 
                padding: 8px 12px;
            }
        }
    }
}
#pagina_inicio_contenedor_contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  .pagina_formacion_contenedor_estudios {
      width: 100%;
  }

  .curso {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 80%;
      width: 50%;
      height: auto;
      margin: 10px auto;
      text-align: center;
  }

  ul {
      flex-direction: column;
  }

  #pagina_inicio {
      width: 100%;
  }

  #pagina_inicio_contenedor {
      width: 100%;
      height: auto;
      background-color: #0D152B;
      display: flex;
      flex-direction: column;
      align-items: center;

      &_titulo {
          width: 80%;
          margin: 50px auto 20px;
          height: auto;
          background-color: #161A6C;
          color: white;
          font-size: 22px;
          padding: 20px;
          border-radius: 25px;
      }

      &_contenido {
          width: 90%;
          height: 650px;
          background-color: #161A6C;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding: 0;
          font-size: 22px;
          border-radius: 25px;

          img {
              width: 90%;
          }

          p {
              width: 80%;
          }
      }
  }

  footer {
      width: 100%;

      h3 {
          font-size: 15px;
      }
  }
  #pagina_cuadro {
    width: 100%;
    display: grid;
    gap: 10px; 
    padding: 10px; 
    border-radius: $border-radius-general;
  }
  .grupo img {
    width: 40px; 
  }
  #pagina_habilidades {
      padding: 30px;
  
      &_titulo {
        margin: 30px auto;
        width: 70%;
        height: 60px;
        justify-content: center;
        align-items: center;
        background-color: $background-color-medium;
        color: $text-color;
        text-align: center;
        border-radius: $border-radius-general;
        font-size: 18px; 
      }
  
      #pagina_cuadro {
        margin-top: 30px;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 15px;
        background-color: $background-color-light;
        padding: 15px;
        justify-content: center;
        border-radius: $border-radius-general;
      }
    }
  
    .grupo {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      img {
        width: 40px; 
      }
  
      a {
        font-size: 14px;
        text-align: center;
        display: block;
      }
    }
        /*******************************experiencia****************************************/
        #pagina_experiencia_contenedor {
          width: 90%;
          grid-template-columns: 1fr;
      }
  
      #pagina_experiencia_contenedor > div {
          padding: 10px;
      }
  
      #cuadro img {
          width: 100px;
      }
  
      #cuadro-interior {
          padding: 20px;
      }
  
      #cuadro-interior-mas-chico {
          padding: 10px;
      }
      

      #pagina_contacto_titulo {
        font-size: 20px;
        height: 40px;
        padding-top: 5px;
      }
    
      #pagina_contenedor_contacto {
        width: 95%;
        margin: 20px auto;
        padding: 10px;
      }
    
      #formularioContacto {
        width: 100%;
        margin: 20px auto;
      }
    
      #formularioContacto div {
        margin-bottom: 15px;
      }
    
      #formularioContacto label {
        font-size: 14px;
      }
    
      #formularioContacto input[type="email"],
      #formularioContacto textarea {
        font-size: 14px;
        padding: 5px;
      }
    
      #formularioContacto input[type="submit"] {
        font-size: 14px;
        padding: 5px 10px;
      }

      footer {
        width: 100%;
      }
    
      footer h3 {
        font-size: 13px;
      }
}


  @media screen and (min-width: 321px) and (max-width: 576px) {
    .pagina_formacion_contenedor_estudios {
      width: 100%;
    }
    nav {
      ul {
          flex-direction: column;
          align-items: center;
  
          li {
              a {
                  font-size: calc(20px * 0.7); 
                  padding: 8px 12px;
              }
          }
      }
  }
    .curso {
      width: 50%;
      margin: 50px auto 20px;
      height: auto;
      font-size: 22px;
      padding: 20px;
      border-radius: 25px;
      text-align: center;
    }
  
    ul {
      flex-direction: column;
    }
  
    #pagina_inicio {
      width: 100%;
    }
  
    #pagina_inicio_contenedor {
      width: 100%;
      height: auto;
      background-color: #0D152B;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    #pagina_inicio_contenedor_titulo {
      width: 80%;
      margin: 50px auto 20px;
      height: auto;
      background-color: #161A6C;
      color: white;
      font-size: 22px;
      padding: 20px;
      border-radius: 25px;
    }
  
    #pagina_inicio_contenedor_contenido {
      width: 90%;
      height: 650px;
      background-color: #161A6C;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      font-size: 18px;
      border-radius: 25px;
    }
  
    #pagina_inicio_contenedor_contenido img {
      width: 90%;
    }
  
    #pagina_inicio_contenedor_contenido p {
      width:90%;
    }
  
    footer {
      width: 100%;
    }
  
    footer h3 {
      font-size: 15px;
    }
  
    #pagina_cuadro {
      grid-template-columns: repeat(2, 1fr); 
      gap: 10px;
      padding: 50%;
    }
  
    .grupo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .grupo img {
      width: 80px; 
    }
  
    .grupo a {
      text-align: center;
    }
    /******************habilidades**********************/
    #pagina_habilidades {
      padding: 30px;
  
      &_titulo {
        margin: 30px auto;
        margin-top: 10px;
        width: 70%;
        height: 60px;
        justify-content: center;
        align-items: center;
        background-color: $background-color-medium;
        color: $text-color;
        text-align: center;
        border-radius: $border-radius-general;
        font-size: 18px; 
      }
  
      #pagina_cuadro {
        margin-top: 10px;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 15px;
        background-color: $background-color-light;
        padding: 2px;
        justify-content: center;
        border-radius: $border-radius-general;
      }
    }
  
    .grupo {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      img {
        width: 80%; 
      }
  
      a {
        font-size: 14px;
        text-align: center;
        display: block;
      }
    }
/*******************************experiencia****************************************/
#pagina_experiencia_contenedor {
  width: 90%;
  grid-template-columns: 1fr;
}

#pagina_experiencia_contenedor > div {
  padding: 10px;
}

#cuadro img {
  width: 100px;
}

#cuadro-interior {
  padding: 20px;
}

#cuadro-interior-mas-chico {
  padding: 10px;
}
#pagina_contacto_titulo {
  font-size: 20px;
  height: 40px;
  padding-top: 5px;
}

#pagina_contenedor_contacto {
  width: 95%;
  margin: 20px auto;
  padding: 10px;
}

#formularioContacto {
  width: 100%;
  margin: 20px auto;
}

#formularioContacto div {
  margin-bottom: 15px;
}

#formularioContacto label {
  font-size: 14px;
}

#formularioContacto input[type="email"],
#formularioContacto textarea {
  font-size: 14px;
  padding: 5px;
}

#formularioContacto input[type="submit"] {
  font-size: 14px;
  padding: 5px 10px;
}
}

  @media screen and (min-width: 577px) and (max-width: 768px) {
    .pagina_formacion_contenedor_estudios {
      width: 100%;
    }
    
    nav {
      ul {
          flex-direction: column;
          align-items: center;
  
          li {
              a {
                  font-size: calc(20px * 0.7);
                  padding: 8px 12px;
              }
          }
      }
  }
    .curso {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 80%;
      width: 80%;
      height: auto;
      margin: 10px auto;
      text-align: center;
    }
  
    ul {
      flex-direction: column;
    }
  
    #pagina_inicio {
      width: 100%;
    }
  
    #pagina_inicio_contenedor {
      width: 100%;
      height: auto;
      background-color: #0D152B;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    #pagina_inicio_contenedor_titulo {
      width: 80%;
      margin: 50px auto 20px;
      height: auto;
      background-color: #161A6C;
      color: white;
      font-size: 22px;
      padding: 20px;
      border-radius: 25px;
    }
  
    #pagina_inicio_contenedor_contenido {
      width: 70%;
      height: 750px;
      background-color: #161A6C;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      font-size: 22px;
      border-radius: 25px;
}

  
    #pagina_inicio_contenedor_contenido img {
      width: 90%;
    }
  
    #pagina_inicio_contenedor_contenido p {
      width: 80%;
      margin-bottom: 90px; /* Ajusta este valor según sea necesario */
    }
  
    footer {
      width: 100%;
    }
  
    footer h3 {
      font-size: 15px;
    }
  
    #pagina_cuadro {
      grid-template-columns: repeat(3, 1fr); 
    }
  
    .grupo img {
      width: 100px; 
    }
    
    
    #pagina_habilidades {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #pagina_habilidades._titulo {
      width: 80%;
      margin: 50px auto 20px;
      height: auto;
      background-color: #161A6C;
      color: white;
      font-size: 22px;
      padding: 20px;
      border-radius: 25px;
    }
    #pagina_habilidades._contenido {
      width: 90%;
      height: 750px;
      background-color: #161A6C;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      font-size: 22px;
      border-radius: 25px;
    }
    #pagina_habilidades._contenido.curso {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 80%;
      width: 80%;
      height: auto;
      margin: 10px auto;
      text-align: center;
    }
    .grupo {
      flex-direction: column; 
    }
  
    .grupo img {
      width: 80%;
    }
  
    .grupo a {
      display: block; 
      margin-top: 10px; 
      text-align: center; 
    }
/*******************************experiencia****************************************/
    #pagina_experiencia_contenedor {
      width: 90%;
      grid-template-columns: 1fr;
  }

  #pagina_experiencia_contenedor > div {
      padding: 10px;
  }


  #cuadro-interior {
      padding: 50px;
  }

  #cuadro-interior-mas-chico {
      padding: 40px;
  }
  #pagina_contenedor_contacto {
    width: 90%;
    margin: 20px auto; 
  }

  #formularioContacto {
    width: 100%; 
  }

  #pagina_contacto_titulo {
    font-size: 20px;
    height: 40px;
    padding-top: 5px;
  }

  #pagina_contenedor_contacto {
    width: 95%;
    margin: 20px auto;
    padding: 10px;
  }

  #formularioContacto {
    width: 100%;
    margin: 20px auto;
  }

  #formularioContacto div {
    margin-bottom: 15px;
  }

  #formularioContacto label {
    font-size: 14px;
  }

  #formularioContacto input[type="email"],
  #formularioContacto textarea {
    font-size: 14px;
    padding: 5px;
  }

  #formularioContacto input[type="submit"] {
    font-size: 14px;
    padding: 5px 10px;
  }
  }